<div class="panel panel-primary" *ngIf="product">
  <div class="panel-heading">
    {{pageTitle + ': ' + product.productName}}
  </div>

  <div class="panel-body" >
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <span class="col-md-3">Name:</span>
          <span class="col-md-8">{{product.productName}}</span>
        </div>
        <div class="row">
          <span class="col-md-3">Code:</span>
          <span class="col-md-8">{{product.productCode | lowercase | convertToSpaces:'-'}}</span>
        </div>
        <div class="row">
          <span class="col-md-3">Description:</span>
          <span class="col-md-8">{{product.description}}</span>
        </div>
        <div class="row">
          <span class="col-md-3">Availability:</span>
          <span class="col-md-8">{{product.releaseDate}}</span>
        </div>
        <div class="row">
          <span class="col-md-3">Price:</span>
          <span class="col-md-8">{{product.price | currency:'USD':true:'1.2-2'}}</span>
        </div>
        <div class="row">
          <span class="col-md-3">5 Star Rating:</span>
          <span class="col-md-8"><pm-star [rating]='product.starRating' ></pm-star></span>
        </div>
      </div>
      <div class="col-md-6">
        <img
             [src]="product.imageUrl"
             [title]="product.description"
        />
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <a class="btn btn-default" (click)="onBackButtonClicked()">
      <i class="glyphicon glyphicon-chevron-left" > </i> Back
    </a>
  </div>
</div>

